  .main-container{
     background-color: #583759;
} 
/* #583759  05032F; */
.profile-container{
    justify-content: "center";
    align-items: "center";
    margin-top: 120px;
    /* padding: 10px; */
    height:80vh;
    width: auto;
}

h1{
    color: aliceblue;
    justify-content: "center";
    align-items: "center";
    font-family: cursive;
    font-size: 8vh;
}
 p{
    color:darkorchid;
    justify-content: "center";
    align-items: "center";
    padding-top: 10px;
    font-size: 3vh;
    font-family: "Lucida Console", "Courier New", monospace;
} 

.image-container{
  justify-content: "center";
  align-items: "center";
    color:"#fff";
    width: 60vh;
    height:60vh;  
} 

.hand{
  user-select: none;
  touch-action: none;
  transform: rotate(0, 20, 0, 20, 0, 0, 0, 0, 0, 0);
  transition: 50% 50% 0px;
}

 .responsive_image{
  align-self: flex-end;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        margin: 0 auto 0 auto;
        transform-origin: bottom;
} /*
    .img2{
      animation-name: bounce-1;
        animation-timing-function: linear;
    }
    @keyframes bounce-1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-20px); }
        100% { transform: translateY(0); }
    } */

    .buttons{
        background-color: #9330ac ;
    border: solid 1px #9330ac;
    color: #fff;
    font-weight: 700;
    width: max-content;
    padding: 13px 22px;
    margin-right: 50px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    }

    .buttons:hover {
      background-color: #fff;
      color: #9330ac;
      transition: all 0.3s ease 0s;
      transform: translateY(-3px);
    }
    .button-container{
      padding: 0%;
    }
/* 
//media-query */
 @media screen and (max-width: 800px) {
    h1{
      font-size: 4vw; 
    }
    p{
      font-size: 2vw;
    }
    
    .responsive_image{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50vw;
      height: 50vh;
    }
    .profile-container{
      justify-content: "center";
      align-items: "center";
      
      height: 30vh;
    }
    
  } 

  @media (max-width: 768px) {
    .main-button {
      font-size: 15px;
      padding: 12px 18px;
      margin-right: 0px;
    }
  }
  @media (max-width: 320px) {
    .main-button {
      font-size: 12px;
    }
  }